<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConsoleExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Development.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>HTTPExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>JayExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>JayPerformance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Performance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>SMTPExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SocksCoreExampleTCPClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SocksCoreExampleTCPKeepAliveServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SocksCoreExampleTCPServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SocksExampleTCPClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SocksExampleTCPServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SocksExampleUDPClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SocksExampleUDPServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TannerWebsite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TannerWebsite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TypeSafeGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>WebSocketsExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>______Target_Auth</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_BCrypt</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CLibreSSL</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cache</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Console</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_ConsoleExample</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Cookies</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Core</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Development</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Essentials</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Fluent</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HMAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTPExample</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HTTPRouting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Jay</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JayExample</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_JayPerformance</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Leaf</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Middleware</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Node</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PathIndexable</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Performance</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Polymorphic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PureJsonSerializer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Random</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Routing</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SHA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SHA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SMTP</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SMTPExample</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Settings</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Socks</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCoreExampleTCPClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCoreExampleTCPKeepAliveServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksCoreExampleTCPServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksExampleTCPClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksExampleTCPServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksExampleUDPClient</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SocksExampleUDPServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TLS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TannerWebsite</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Transport</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Turnstile</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TurnstileCrypto</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TurnstileWeb</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TypeSafeGenerator</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_TypeSafeRouting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_URI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Vapor</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_WebSockets</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_WebSocketsExample</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_libc</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
